
<div class="row">

		<div class="col-md-9 col-md-push-3">
	
			<h1> <%= @post.title %></h1> 
			<div class="image">
		<p><%= image_tag @post.image.url() %> </p>
			</div>
			
			<div class="fr-view">	
				<%= @post.content.html_safe %>
			</div>
		

			<div class="buttons">
				<%= link_to 'Home', root_path, class: "btn btn-default" %>
				<% if @post.user == current_user %>
					<%= link_to 'edit', edit_post_path(@post), class: "btn btn-default" %>
					<%= link_to	'destroy', @post, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default", style: "{ float: right;}" %>
				<% end %>
			</div>

			<div class="comments">
					<% if @post.comments.count == 0 %>
				<div class="thumbnail">
					<strong> there is <%= @post.comments.count %> Comments</strong>
					<p>there is no comment yet, add comment to let uys know your openion</p>
				</div>
				<% else %>
						<h2> There is <%= @post.comments.count %> Comments</h2>	
						<p> <%= render :partial => @post.comments %></p>
				<% end %>
			</div>
			<h2>Add a comment:</h2>
				<%= form_for([@post, @post.comments.build]) do |f| %>
				  <div class="field">
				    <%= f.label :content %><br />
				    <%= f.text_area :content, class: "form-control" %>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
		</div>

		<div class="col-md-3 col-md-pull-9">
		<h2>Others posts</h2>
		<div class="row">
		<% @posts.each do |post| %>
			<div class="col-xs-6 col-md-3"> 

				<%= link_to ( image_tag post.image.url(:thumb)), post %>
			</div>
		<% end %>
			</div>

		</div>

		

</div>

