
<div class="row">
<div class="col-xs-6 col-sm-4">
<% if @post.comments.count == 0 %>
	<div class="thumbnail">
	<p> there is <%= @post.comments.count %> Comments</p>
		<p>there is no comment yet, add comment to let uys know your openion</p>
	</div>
<% else %>
		<strong> There is <%= @post.comments.count %> Comments</strong>	
		<p> <%= render :partial => @post.comments %></p>
<% end %>
</div>
		<div class="col-xs-6 col-sm-4">
	
			<h1> <%= @post.title %></h1> 
			<div class="image">
		<p><%= link_to ( image_tag @post.image.url(:medium)), @post.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %> </p>
			</div>
			<strong>Content: </strong> 
			<p> <%= @post.content %></p> 
			<%= link_to 'Home', root_path, class: "btn btn-default" %>
			<% if @post.user == current_user %>
				<%= link_to 'edit', edit_post_path(@post), class: "btn btn-default" %>
				<%= link_to	'destroy', @post, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default" %>
			<% end %>
	
		

		
			<h2>Add a comment:</h2>
				<%= form_for([@post, @post.comments.build]) do |f| %>
				  <div class="field">
				    <%= f.label :body %><br />
				    <%= f.text_area :body, class: "form-control" %>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
		
		</div>
		<div class="col-xs-6 col-sm-4">
		<h2>Others posts</h2>
		<div class="row">
		<% @posts.each do |post| %>
			<div class="col-xs-6 col-md-3"> 

				<%= link_to ( image_tag post.image.url(:thumb)), post %>
			</div>
		<% end %>
			</div>
			


		</div>
</div>

